<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Dear {{firstname}},</h3>
        <p>You requested for a email verification, kindly use this <a href="{{link}}">link</a> verify your email.</p>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>