<!DOCTYPE html>
<html>

<head>
    <title>Order Successful</title>
</head>

<body>
    <div>
        <h3>Dear {{firstname}},</h3>
        <p>The online order you have sent us is reserved successfully.</p>
        <p>Online Order No is </p><strong>{{OnlineOrderNo}}</strong>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>