<!DOCTYPE html>
<html>

<head>
    <title>Order Rejected</title>
</head>

<body>
    <div>
        <h3>Dear {{firstname}},</h3>
        <p>You request for a Order is rejected.The reason is as follows.</p>
        <strong>{{reason}}</strong>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>